.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    width: calc(100% - 2*312px);
    margin: 0 auto 32px;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .cover__title {
        width: calc(100% - 2*232px);
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .cover__title {
        width: calc(100% - 2*104px);
    }
}

@media screen and (max-width:767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 2*16px);
        margin: 0 auto 16px;
    }
}