.footer {
    width: calc(100% - 2*48px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto 24px;
    box-sizing: border-box;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width:767px) {
    .footer {
        flex-direction: column;
        margin: 0 auto 24px 16px;
        align-items: flex-start;
    }    
}